:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 200;
  --default-spacing: 10px;
  --default-margin: 5vh;
  --medium-margin: 1rem;
  --larger-margin: 3rem;
  --primary-color: #7676d7;
  --secundary-color: #b7b7f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* common css starts */

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 70vh;
}

.title {
  text-align: center;
  margin-top: var(--default-margin);
  color: #7676d7;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--default-margin);
  margin-top: var(--medium-margin);
  margin-bottom: var(--larger-margin);
}

.buttons .btn,
.buttons .btn:active,
.buttons .btn:focus {
  background-color: var(--primary-color);
  box-shadow: none;
  outline: none;
  border: none;
}

.tags-text {
  line-height: 2.5;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: grey;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: var(--medium-margin);
  gap: 8px;
}

.tag {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid var(--primary-color);
  padding: 0.3rem 0.5rem;
  box-shadow: 2px 2px 0px #adaaaa;
}

.tag:hover {
  background: linear-gradient(to left, var(--primary-color), var(--secundary-color));
  color: #fff;
}

.error-msg {
  color: #ff0000;
  text-align: center;
}

/* common css ends */

/* search section starts */

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--default-margin);
}

.search-section .search-input {
  min-width: 500px;
  padding: var(--default-spacing);
}

.search-section .search-btn {
  margin-left: var(--default-spacing);
}

/* search section ends */

/* filters section starts */

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 5vh;
  margin-top: var(--default-margin);
}

.filters>* {
  padding: 5px 10px;
  background: #7676d7;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* filters section ends */

/* images section starts */
ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul > li {
  height: 25vh;
  flex-grow: 1;
}

ul > li > img {
  min-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  ul {
    gap: 8px;
    padding: 8px;
  }
  ul > li {
    width: 100%;
    height: auto;
  }
  ul img {
    min-width: 0;

  }
}

/* images section ends */

/* Responsive adjustments */
@media (max-width: 768px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .search-section .search-input {
    width: 100%;
    min-width: unset;
    margin: 0 var(--default-margin);
  }

  .images {
    object-fit: cover;
  }
}